################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeadPower/DeadPowerGame/.vs/DeadPowerGame/FileContentIndex/1488814b-337e-46ed-bfaf-6c9e79b6362e.vsidx
/DeadPower/DeadPowerGame/.vs/DeadPowerGame/FileContentIndex/39269ccf-4750-4184-9edc-7a6336151870.vsidx
/DeadPower/DeadPowerGame/.vs/DeadPowerGame/FileContentIndex/d6b25bea-d0fe-4605-96a1-36a14cfe4e22.vsidx
