################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeadPower/DeadPowerGame/.vs/DeadPowerGame/FileContentIndex/1488814b-337e-46ed-bfaf-6c9e79b6362e.vsidx
